# Data Cleaning and Analysis of Various Strains of Coffee using Python

A project for course "Data Exploration using Python" (STA 4243) at the University of Texas at San Antonio (UTSA)

Participants: Robert Hall, Max Moran, Ryan Berberek, Dulce Ximena Cid Sanabria

## Table of Contents

1. Data and Library Importation
2. Exploratory Data Analysis & Cleaning
3. What palate-related variable has the highest correlation with score?
4. Are there statistically significant diferences in palate-related quantifications with respect to diferent countries of origin?
5. Is there a correlation between altitude and certain taste quantifications?

## Data and Library Importation

In [60]:
import pandas as pd
coffee = pd.read_csv('coffee_ratings.csv')

In [61]:
coffee.head()

,total_cup_points,species,owner,country_of_origin,farm_name,lot_number,mill,ico_number,company,altitude,...,color,category_two_defects,expiration,certification_body,certification_address,certification_contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,90.58,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,89.92,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,89.75,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,89.00,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,88.83,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

## Exploratory Data Analysis

In [62]:
coffee.dtypes

total_cup_points         float64
species                   object
owner                     object
country_of_origin         object
farm_name                 object
lot_number                object
mill                      object
ico_number                object
company                   object
altitude                  object
region                    object
producer                  object
number_of_bags             int64
bag_weight                object
in_country_partner        object
harvest_year              object
grading_date              object
owner_1                   object
variety                   object
processing_method         object
aroma                    float64
flavor                   float64
aftertaste               float64
acidity                  float64
body                     float64
balance                  float64
uniformity               float64
clean_cup                float64
sweetness                float64
cupper_points            float64
moisture                 float64
category_one_defects       int64
quakers                  float64
color                     object
category_two_defects       int64
expiration                object
certification_body        object
certification_address     object
certification_contact     object
unit_of_measurement       object
altitude_low_meters      float64
altitude_high_meters     float64
altitude_mean_meters     float64
dtype: object

In [63]:
coffee.columns

Index(['total_cup_points', 'species', 'owner', 'country_of_origin',
       'farm_name', 'lot_number', 'mill', 'ico_number', 'company', 'altitude',
       'region', 'producer', 'number_of_bags', 'bag_weight',
       'in_country_partner', 'harvest_year', 'grading_date', 'owner_1',
       'variety', 'processing_method', 'aroma', 'flavor', 'aftertaste',
       'acidity', 'body', 'balance', 'uniformity', 'clean_cup', 'sweetness',
       'cupper_points', 'moisture', 'category_one_defects', 'quakers', 'color',
       'category_two_defects', 'expiration', 'certification_body',
       'certification_address', 'certification_contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [64]:
for i in coffee.columns:
    if pd.api.types.is_numeric_dtype(coffee[str(i)]):
        print(f"Column {str(i)} Maximum: {coffee[str(i)].max()}")
        print(f"Column {str(i)} Minimum: {coffee[str(i)].min()}")
        print('\n')
    else:
        continue

Column total_cup_points Maximum: 90.58
Column total_cup_points Minimum: 0.0


Column number_of_bags Maximum: 1062
Column number_of_bags Minimum: 0


Column aroma Maximum: 8.75
Column aroma Minimum: 0.0


Column flavor Maximum: 8.83
Column flavor Minimum: 0.0


Column aftertaste Maximum: 8.67
Column aftertaste Minimum: 0.0


Column acidity Maximum: 8.75
Column acidity Minimum: 0.0


Column body Maximum: 8.58
Column body Minimum: 0.0


Column balance Maximum: 8.75
Column balance Minimum: 0.0


Column uniformity Maximum: 10.0
Column uniformity Minimum: 0.0


Column clean_cup Maximum: 10.0
Column clean_cup Minimum: 0.0


Column sweetness Maximum: 10.0
Column sweetness Minimum: 0.0


Column cupper_points Maximum: 10.0
Column cupper_points Minimum: 0.0


Column moisture Maximum: 0.28
Column moisture Minimum: 0.0


Column category_one_defects Maximum: 63
Column category_one_defects Minimum: 0


Column quakers Maximum: 11.0
Column quakers Minimum: 0.0


Column category_two_defects Maximum: 55
Column category_two_defects Minimum: 0


Column altitude_low_meters Maximum: 190164.0
Column altitude_low_meters Minimum: 1.0


Column altitude_high_meters Maximum: 190164.0
Column altitude_high_meters Minimum: 1.0


Column altitude_mean_meters Maximum: 190164.0
Column altitude_mean_meters Minimum: 1.0

In [65]:
print(coffee['species'].value_counts())

species
Arabica    1311
Robusta      28
Name: count, dtype: int64

## What palate-related variable has the highest correlation with score?

### Features:

- Aftertaste 
- Aroma 
- Acidity 
- Body 
- Balance 
- Clean Cup 
- Uniformity 
- Sweetness
- Moisture

In [66]:
coffee.columns

Index(['total_cup_points', 'species', 'owner', 'country_of_origin',
       'farm_name', 'lot_number', 'mill', 'ico_number', 'company', 'altitude',
       'region', 'producer', 'number_of_bags', 'bag_weight',
       'in_country_partner', 'harvest_year', 'grading_date', 'owner_1',
       'variety', 'processing_method', 'aroma', 'flavor', 'aftertaste',
       'acidity', 'body', 'balance', 'uniformity', 'clean_cup', 'sweetness',
       'cupper_points', 'moisture', 'category_one_defects', 'quakers', 'color',
       'category_two_defects', 'expiration', 'certification_body',
       'certification_address', 'certification_contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [67]:
coffee_salient = coffee[['total_cup_points', 'aftertaste', 'aroma', 'acidity', 'body', 'balance', 'clean_cup', 'uniformity', 'sweetness', 'moisture']]

In [68]:
coffee_salient.head()

,total_cup_points,aftertaste,aroma,acidity,body,balance,clean_cup,uniformity,sweetness,moisture
0,90.58,8.67,8.67,8.75,8.50,8.42,10.0,10.0,10.0,0.12
1,89.92,8.50,8.75,8.58,8.42,8.42,10.0,10.0,10.0,0.12
2,89.75,8.42,8.42,8.42,8.33,8.42,10.0,10.0,10.0,0.00
3,89.00,8.42,8.17,8.42,8.50,8.25,10.0,10.0,10.0,0.11
4,88.83,8.25,8.25,8.50,8.42,8.33,10.0,10.0,10.0,0.12

In [69]:
coffee_salient.isnull().sum()

total_cup_points    0
aftertaste          0
aroma               0
acidity             0
body                0
balance             0
clean_cup           0
uniformity          0
sweetness           0
moisture            0
dtype: int64

In [70]:
features = coffee_salient[['aftertaste', 'aroma', 'acidity', 'body', 'balance', 'clean_cup', 'uniformity', 'sweetness', 'moisture']]
labels = coffee_salient[['total_cup_points']]

In [71]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features, labels, train_size=0.8, test_size=0.2)

In [72]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
model = mlr.fit(x_train, y_train)
points_pred = model.predict(x_test)

In [73]:
print(features.columns)

Index(['aftertaste', 'aroma', 'acidity', 'body', 'balance', 'clean_cup',
       'uniformity', 'sweetness', 'moisture'],
      dtype='object')

In [74]:
print(model.coef_)

[[ 2.00400516  1.37028995  1.35722394  1.01813385  1.25146642  1.07020813
   1.02907161  0.95320076 -0.35219   ]]

In [75]:
coefs = []
for subset in model.coef_:
    for coef in subset:
        coefs.append(round(coef, 4))

print(coefs)

cols = [col for col in features.columns]
print(cols)

feature_coefs = pd.DataFrame({'features': cols,
                              'coefficients': coefs})

feature_coefs.sort_values('coefficients', ascending=False)
feature_coefs

[2.004, 1.3703, 1.3572, 1.0181, 1.2515, 1.0702, 1.0291, 0.9532, -0.3522]
['aftertaste', 'aroma', 'acidity', 'body', 'balance', 'clean_cup', 'uniformity', 'sweetness', 'moisture']

     features  coefficients
0  aftertaste        2.0040
1       aroma        1.3703
2     acidity        1.3572
3        body        1.0181
4     balance        1.2515
5   clean_cup        1.0702
6  uniformity        1.0291
7   sweetness        0.9532
8    moisture       -0.3522

## Are there statistically significant diferences in palate-related quantifications with respect to diferent countries of origin?

In order to reduce overcomplication, only six nations of the many surveyed were chosen for this study. Countries were not randomly selected, and chosen based on geographical representation.

In [96]:
coffee['country_of_origin'].value_counts()

country_of_origin
Mexico                          236
Colombia                        183
Guatemala                       181
Brazil                          132
Taiwan                           75
United States (Hawaii)           73
Honduras                         53
Costa Rica                       51
Ethiopia                         44
Tanzania, United Republic Of     40
Uganda                           36
Thailand                         32
Nicaragua                        26
Kenya                            25
El Salvador                      21
Indonesia                        20
China                            16
India                            14
Malawi                           11
United States                    10
Peru                             10
Myanmar                           8
Vietnam                           8
Haiti                             6
Philippines                       5
United States (Puerto Rico)       4
Panama                            4
Ecuador                           3
Laos                              3
Burundi                           2
Papua New Guinea                  1
Rwanda                            1
Zambia                            1
Japan                             1
Mauritius                         1
Cote d?Ivoire                     1
Name: count, dtype: int64

In [102]:
top8 = coffee[coffee['country_of_origin'].isin(['Mexico',  
                                         'Brazil', 
                                         'Taiwan',
                                         'Ethiopia', 
                                         'Tanzania, United Republic Of',
                                         'Indonesia'])]

top8['country_of_origin'].replace('Tanzania, United Republic Of', 'Tanzania')

top8['country_of_origin'].value_counts()

country_of_origin
Mexico                          236
Brazil                          132
Taiwan                           75
Ethiopia                         44
Tanzania, United Republic Of     40
Indonesia                        20
Name: count, dtype: int64

In [104]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
sig = 0.05 # significance threshold
tukey_results = pairwise_tukeyhsd(top8['aftertaste'], top8['country_of_origin'], sig)
print(tukey_results)
# under the “reject” column, if True, then there is a significant difference; if False, no significant difference.

             Multiple Comparison of Means - Tukey HSD, FWER=0.05
=============================================================================
  group1             group2            meandiff p-adj   lower   upper  reject
-----------------------------------------------------------------------------
   Brazil                     Ethiopia   0.4533    0.0  0.3038  0.6028   True
   Brazil                    Indonesia   -0.025 0.9993 -0.2311   0.181  False
   Brazil                       Mexico  -0.2125    0.0 -0.3058 -0.1191   True
   Brazil                       Taiwan  -0.0451  0.905 -0.1692  0.0791  False
   Brazil Tanzania, United Republic Of  -0.0155 0.9997 -0.1705  0.1395  False
 Ethiopia                    Indonesia  -0.4784    0.0 -0.7099 -0.2468   True
 Ethiopia                       Mexico  -0.6658    0.0 -0.8068 -0.5248   True
 Ethiopia                       Taiwan  -0.4984    0.0 -0.6615 -0.3353   True
 Ethiopia Tanzania, United Republic Of  -0.4689    0.0 -0.6565 -0.2813   True
Indonesia                       Mexico  -0.1874 0.0808 -0.3874  0.0125  False
Indonesia                       Taiwan    -0.02 0.9998 -0.2361  0.1961  False
Indonesia Tanzania, United Republic Of   0.0095    1.0 -0.2257  0.2447  False
   Mexico                       Taiwan   0.1674 0.0004  0.0536  0.2812   True
   Mexico Tanzania, United Republic Of   0.1969 0.0019  0.0501  0.3438   True
   Taiwan Tanzania, United Republic Of   0.0295 0.9961 -0.1386  0.1977  False
-----------------------------------------------------------------------------

In [91]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
sig = 0.05 # significance threshold
tukey_results = pairwise_tukeyhsd(top8['acidity'], top8['country_of_origin'], sig)
print(tukey_results)
# under the “reject” column, if True, then there is a significant difference; if False, no significant difference.

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
  group1    group2  meandiff p-adj   lower   upper  reject
----------------------------------------------------------
   Brazil  Ethiopia   0.5322    0.0  0.3957  0.6687   True
   Brazil Indonesia  -0.0204 0.9996 -0.2087  0.1678  False
   Brazil    Mexico  -0.0831  0.061 -0.1683  0.0022  False
   Brazil    Taiwan   -0.096 0.1511 -0.2094  0.0174  False
   Brazil  Tanzania  -0.0114 0.9999  -0.153  0.1301  False
 Ethiopia Indonesia  -0.5526    0.0 -0.7642 -0.3411   True
 Ethiopia    Mexico  -0.6153    0.0 -0.7441 -0.4865   True
 Ethiopia    Taiwan  -0.6282    0.0 -0.7771 -0.4792   True
 Ethiopia  Tanzania  -0.5436    0.0  -0.715 -0.3723   True
Indonesia    Mexico  -0.0627 0.9239 -0.2453    0.12  False
Indonesia    Taiwan  -0.0755 0.8836 -0.2729  0.1219  False
Indonesia  Tanzania    0.009    1.0 -0.2058  0.2238  False
   Mexico    Taiwan  -0.0129 0.9993 -0.1169  0.0911  False
   Mexico  Tanzania   0.0717 0.6464 -0.0625  0.2058  False
   Taiwan  Tanzania   0.0845  0.616  -0.069  0.2381  False
----------------------------------------------------------

In [92]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
sig = 0.05 # significance threshold
tukey_results = pairwise_tukeyhsd(top8['aftertaste'], top8['country_of_origin'], sig)
print(tukey_results)
# under the “reject” column, if True, then there is a significant difference; if False, no significant difference.

   Multiple Comparison of Means - Tukey HSD, FWER=0.05
==========================================================
  group1    group2  meandiff p-adj   lower   upper  reject
----------------------------------------------------------
   Brazil  Ethiopia   0.4533    0.0  0.3038  0.6028   True
   Brazil Indonesia   -0.025 0.9993 -0.2311   0.181  False
   Brazil    Mexico  -0.2125    0.0 -0.3058 -0.1191   True
   Brazil    Taiwan  -0.0451  0.905 -0.1692  0.0791  False
   Brazil  Tanzania  -0.0155 0.9997 -0.1705  0.1395  False
 Ethiopia Indonesia  -0.4784    0.0 -0.7099 -0.2468   True
 Ethiopia    Mexico  -0.6658    0.0 -0.8068 -0.5248   True
 Ethiopia    Taiwan  -0.4984    0.0 -0.6615 -0.3353   True
 Ethiopia  Tanzania  -0.4689    0.0 -0.6565 -0.2813   True
Indonesia    Mexico  -0.1874 0.0808 -0.3874  0.0125  False
Indonesia    Taiwan    -0.02 0.9998 -0.2361  0.1961  False
Indonesia  Tanzania   0.0095    1.0 -0.2257  0.2447  False
   Mexico    Taiwan   0.1674 0.0004  0.0536  0.2812   True
   Mexico  Tanzania   0.1969 0.0019  0.0501  0.3438   True
   Taiwan  Tanzania   0.0295 0.9961 -0.1386  0.1977  False
----------------------------------------------------------

## Overall Takeaways and Answers

#### **What palate-related variable has the highest correlation with score?**

* 'aftertaste' has the highest correlation with score. The scikit-learn linear regression coefficient score for aftertaste is 1.967.

#### **Are there statistically significant diferences in taste quantifications with respect to diferent countries of origin?**

Statistically significant differences were found between the scores of the following nations under the forementioned categories:

(Bold text indicates the nation(s) with significantly higher scores than their counterpart nations in their respective categories)

aftertaste:

- **Brazil** and Ethiopia
- Brazil and **Mexico**
- Ethiopia and **Indonesia**, **Mexico**, **Taiwan** and **Tanzania**
- **Mexico** and Taiwan, Tanzania

acidity:

- **Brazil** and Ethiopia
- Ethiopia and **Indonesia**, **Mexico**, **Taiwan** and **Tanzania**

aftertaste:

- **Brazil** and Ethiopia
- Brazil and **Mexico**
- Ethiopia and **Indonesia**, **Mexico**, **Taiwan** and **Tanzania**
- **Mexico** and Taiwan, Tanzania

#### **Is there a correlation between altitude and certain taste quantifications?**

* Answer here